*{
    margin: 0;
    padding: 0;

}

.container{



}
.container img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}

.main{

    display: flex;
 
    justify-content: center;
    padding-top: 50px;
 
}


.main-block{
    color: white;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
   background-color: rgba(0, 0, 0, 0.475);
   border-radius: 20px;
   padding: 30px;
   
}


.input{
    text-align: center;
    
   padding: 10px; 
    
}

.inputinfo{
    width: 100%;
    margin-top:20px ;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 20px;
}

.info{
    text-align: center;
  
}


.info .location{
    font-size: 50px;
    margin: 20px 0px;
}
.result{
    display: flex;
   justify-content: center;
   margin: 20px 0px;
}
.result i{
   font-size: 50px;
}


.result h1{
    font-size: 50px;
   
}
.w-type{
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.w-type div{
  margin-left: 30px;
   display: flex;

}

.min-max{
    display:flex ;
    justify-content: space-evenly;
    margin: 20px 0px;

}
.min-max h2{
    margin: 5px;
}

.min-max i{
    font-size:30px ;
}
p{
    font-size: 20px;
    text-align: center;
    margin: 50px 0px;
}